In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('old_afad_train.csv')
df_train.head()

           file                 path  age gender
0  425277-0.jpg  32/111/425277-0.jpg   17   male
1   68404-0.jpg   32/111/68404-0.jpg   17   male
2  129854-0.jpg  32/111/129854-0.jpg   17   male
3  131077-0.jpg  32/111/131077-0.jpg   17   male
4  440047-0.jpg  32/111/440047-0.jpg   17   male

In [3]:
df_valid = pd.read_csv('old_afad_valid.csv')
df_valid.head()

           file                 path  age  gender
0  474596-0.jpg  39/112/474596-0.jpg   24  female
1  397477-0.jpg  39/112/397477-0.jpg   24  female
2  400021-0.jpg  39/112/400021-0.jpg   24  female
3  407258-0.jpg  39/112/407258-0.jpg   24  female
4  404121-0.jpg  39/112/404121-0.jpg   24  female

In [4]:
df_test = pd.read_csv('old_afad_test.csv')
df_test.head()

           file                 path  age  gender
0  406208-0.jpg  39/112/406208-0.jpg   24  female
1  470804-0.jpg  39/112/470804-0.jpg   24  female
2  411657-2.jpg  39/112/411657-2.jpg   24  female
3  471528-2.jpg  39/112/471528-2.jpg   24  female
4  398608-1.jpg  39/112/398608-1.jpg   24  female

In [5]:
df = pd.concat((df_train, df_valid, df_test))

In [6]:
df.to_csv('afad.csv', index=None)

# Split

In [7]:
import numpy as np

In [8]:
np.bincount(df['age'].values)

array([ 1251,  2423,  2482,  5585, 12477, 13232, 12560, 13572, 10510,
       12891, 11261,  7676,  6481,  5170,  4730,  4806,  4456,  3996,
        3701,  3856,  4246,  4234,  3898,  3798,  3791,  1335])

In [9]:
indices = np.arange(df.shape[0])
labels = df['age'].values

In [10]:
from sklearn.model_selection import train_test_split


indices_train, indices_test, labels_train, labels_test = train_test_split(
    indices, labels, test_size=0.2, random_state=123, shuffle=True, stratify=labels)

indices_train, indices_valid, labels_train, labels_valid = train_test_split(
    indices_train, labels_train, test_size=0.05, random_state=123, shuffle=True, stratify=labels_train)

In [11]:
df_train = df.iloc[indices_train]
df_train.to_csv('afad_train.csv', index=None)

df_valid = df.iloc[indices_valid]
df_valid.to_csv('afad_valid.csv', index=None)

df_test = df.iloc[indices_test]
df_test.to_csv('afad_test.csv', index=None)